body {
    padding: 10px;
}

.content {
    width: 1100px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

p {
    font-size: 17px;
}

li {
    font-size: 17px;
    margin: 10px 0;
}

.title {
    color: sandybrown;
    text-align: center;
    font-size: 50px;
}

/*  RECIPIES */
.recipes{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    font-size: 30px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 500px;
}
.recipes a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: sandybrown;
}
/*  RECIPIES */

.mainImg {
    display:inline-block;
    float: left;
    padding: 10px;
    width: 500px;
}

.recipeName {
    text-align: center;
}

.desc {
    display:inline-block;
    width: 500px;
    padding-left: 10px;
}

.ingredients {
    display:inline-block;
    padding-left: 10px;
    width:max-content;
}
.ingredients ul{
    width:max-content;
}

.copyright {
    text-align: center;
}

.steps {
    margin-top:40px;
}

.tags {
    margin-top: 80px;
    display: flex;
    padding: 5px;
    list-style: none;
    background-color: rgba(243, 154, 77, 0.281);
}

.tags li {
    margin-left: 50px;
    margin: auto auto;
    font-weight: bold;
}

ol {
    counter-reset: item;
}
ol li {
    display: block;
}
ol li:before {
    font-size: 20px;
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}

.recipeDesc {
    text-align: center;
    font-style: italic;
    color: rgba(0, 0, 0, 0.596);
}

.tags2 {
    margin-top: 190px;
    display: flex;
    padding: 5px;
    list-style: none;
    background-color: rgba(243, 154, 77, 0.281);
}

.tags2 li {
    margin-left: 50px;
    margin: auto auto;
    font-weight: bold;
}